#fieldset__container {
    width: 400px;
    padding: 20px;
    border: 2px solid #282828;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: #ececec;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

#formulario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
}

#enviarFormulario {
    background-color: none;
    border-radius: 10px;
    border: 1px solid rgba(43, 43, 43, 0);
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 10px; 
}